/* Apply some basic styles to the body */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* Style the main heading */
h1 {
  background-color: #8cada7;
  color: #fff;
  margin: 0;
  padding: 20px;
  text-align: center;
}

h6 {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: bold;

  margin-bottom: 5px;
}

/* Style the options section */
#options {
  background-color: #f1f1f1;
  padding: 20px 0;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}

/* Style the select dropdowns */
select {
  padding: 10px;
  border-radius: 5px;
  border: none;
  margin-right: 10px;
  width: 100%;
}

/* Style the checkboxes */
input[type="checkbox"] {
  margin-right: 10px;
  vertical-align: middle;
  accent-color: #8cada7;
}

/* Style the indicators section */
#indicators {
  background-color: #333;
  color: #fff;
  padding: 20px;
}

/* Style the products section */
#products {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin-top: 40px;
  width: 100%;
}

#filters {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.productsList {
  width: 90%;
  display: grid; /* 1 */
  grid-template-columns: repeat(auto-fill, 30%); /* 2 */
  grid-gap: 0.1rem 0.4rem; /* 3 */
  justify-content: space-between; /* 4 */
}

.productsList::after {
  content: "";
  flex: auto;
}

/* Style the product cards */
.product {
  width: 100%;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  flex-direction: row;
}

/* Style the product titles */
.product h3 {
  margin: 0;
  font-size: 20px;
}

/* Style the product prices */
.product p {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
}

/* Apply some basic styles to links */
a {
  color: #000;
  text-decoration: none;

  transition: all 0.2s;
}

a:hover {
  -webkit-box-shadow: 0px 0px 8px 5px rgba(189, 189, 189, 0.6);
  box-shadow: 0px 0px 8px 5px rgba(189, 189, 189, 0.6);
}

.brand-string {
  color: rgb(131, 131, 131);
  font-size: 12px;
}

.name-string {
  color: #000;
  font-weight: bold;
  font-size: 16px;
}

.price-string {
  color: #000;
  font-size: 14px;
  margin-top: 5px;
}

.selector-div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 90%;
  margin-bottom: 10px;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 20%;
  padding-left: 20px;
}

.product-column {
  display: flex;
  flex-direction: column;
  width: 90%;
}

/* All below here was copied from
https://www.youtube.com/watch?v=jQuLIUZIG3k&ab_channel=CodingArtist
*/

.product-like {
  margin-top: 10px;
  margin-left: 15px;
  height: 15px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

#favoriteSelect {
  cursor: pointer;
}

input[type="checkbox"]#favoriteSelect {
  height: 15px;
  width: 15px;
  background-color: #e0e0e0;
  position: relative;
  outline: none;
  transform: rotate(45deg);
  -webkit-appearance: none;
}

input[type="checkbox"]#favoriteSelect:before {
  position: absolute;
  content: "";
  background-color: #e0e0e0;
  height: 60%;
  width: 100%;
  top: -58%;
  border-radius: 7px 7px 0 0;
}

input[type="checkbox"]#favoriteSelect:after {
  position: absolute;
  content: "";
  background-color: #e0e0e0;
  height: 59%;
  width: 100%;
  transform: rotate(-90deg);
  border-radius: 7px 7px 0 0;
  top: 20%;
  right: 78%;
}
input[type="checkbox"]#favoriteSelect:checked,
input:checked[type="checkbox"]#favoriteSelect:before,
input:checked[type="checkbox"]#favoriteSelect:after {
  background-color: #f71735;
}
